<h1><%= @question.title %></h1>
<p><%= @question.body %></p>


<div class="col-md-8">
  <%= form_for @question do |f| %>

    <div class="form-group">
      <%= f.label :resolved, class: 'checkbox-inline'%>
      <%= f.check_box :resolved, class: 'checkbox-inline'%>
    </div>
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-success' %>
      <%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success' %>
      <%= link_to "Delete Post", @question, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this question?'} %>
    </div>

  <% end %>
