<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>

<% if user_has_no_posts?(@user) %>
    <h2><%= @user.name%> has not created any posts.</h2>
<% else %>
  <h2>Posts</h2>
  <%= render @user.posts %>
<% end %>

<% if user_has_no_comments?(@user) %>
  <h2><%= @user.name%> has not commented on any posts.</h2>
<% else %>
 <h2>Comments</h2>
 <%= render @user.comments %>
<% end %>


<h2>Favorited Posts</h2>
<% @user.favorites.each do |favorite| %>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= image_tag favorite.post.user.avatar_url(48) %>
      <%= favorite.post.title %>
      <small>
        <%= favorite.post.comments.count %> comments
        <%= favorite.post.votes.count %> votes
      </small>
    </h4>
  </div>
</div>
<% end %>
